body{
    margin: 0;
    padding: 0;
    height: 100%;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background-color: lightcoral;
}

.layout{
    position: fixed;
    width: 100%;
    height: 100%;
    display: table;
}

.teal{
    .left, .right{
        background-color: teal;
    }
}

.green{
    .left, .right{
        background-color: darkgreen;
    }
}

.red{
    .left, .right{
        background-color: red;
    }
}

.left{
    width: 50%;
    display: table-cell;
    transition: all 1s;
    transform: translateX(-100%);

    &.animate{
        transform: translateX(0);
    }
}

.right{
    width: 50%;
    display: table-cell;
    transition: all 1s;
    transform: translateX(100%);

    &.animate{
        transform: translateX(0);
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
        border: 1px solid lime;
        height: 100px;
        width: 100px;
        position: relative;

        a{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


.main-page-text{
    position: absolute;
    transition: all 1s;
    height: 100%;
    width: 100%;
    text-align: center;

    span{
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &.animate{
        transform: translateX(-100%);
    }
}

.animateBtn{
    position: relative;
    z-index: 10;
}